<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.incolor.mapper.ForgotPasswordConfirmMapper">

    <!-- 添加邮箱验证 -->
    <insert id="insert" parameterType="vip.incolor.entity.ForgotPasswordConfirm">
        INSERT INTO forgot_password_comfirm (
            email, verify_code, times, create_time, update_time
        )
        VALUES (
            #{email}, #{verifyCode}, #{times}, #{createTime}, #{updateTime}
        )
    </insert>


    <select id="selectByEmail" parameterType="java.lang.String" resultType="vip.incolor.entity.ForgotPasswordConfirm">
        SELECT
            forgot_password_confirm_id forgotPasswordConfirmId,
            email                      email,
            verify_code                verifyCode,
            status                     status,
            times                      times,
            create_time                createTime,
            update_time                updateTime
        FROM forgot_password_comfirm
        WHERE email = #{email}
    </select>

    <update id="updateTimes">
        UPDATE forgot_password_comfirm
        SET times = #{times}
        WHERE email = #{email}
    </update>

    <update id="updateStatus">
        UPDATE forgot_password_comfirm
        SET status = 1
        WHERE email = #{email}
    </update>

    <update id="updateVerifyCodeByEmail">
        UPDATE forgot_password_comfirm
        SET verify_code = #{verifyCode}, times = times - 1
        WHERE email = #{email}
    </update>

    <delete id="truncate">
        DELETE FROM forgot_password_comfirm
        WHERE DATE_FORMAT(now(), '%Y-%m-%d') = DATE_FORMAT(create_time, '%Y-%m-%d')
    </delete>


</mapper>
